### 모아어린이집을 시행할 지역 채택하기 위해 데이터 만들기 & 최종 지역 선택하기

#### 데이터 만들기

In [1]:
import pandas as pd
import re

In [2]:
df1 = pd.read_csv('일반 현황_20221.csv',encoding='euc-kr',error_bad_lines=False)
df2 = pd.read_csv('행정구역_시군구_별_1세별_주민등록인구_20220802102945.csv',encoding='euc-kr',
                 names=['행정구역(시군구)별','연령별','총인구수 (명)','남자인구수 (명)','여자인구수 (명)'])
df3 = pd.read_csv('시도별_신고접수_건수_20220803095522.csv',encoding='euc-kr',
                 names=['시도별','계','응급아동학대 의심사례','아동학대 의심사례'])

C:\Users\user\AppData\Local\Temp\ipykernel_13540\4078029837.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df1 = pd.read_csv('일반 현황_20221.csv',encoding='euc-kr',error_bad_lines=False)
b'Skipping line 427: expected 28 fields, saw 29\nSkipping line 683: expected 28 fields, saw 29\nSkipping line 740: expected 28 fields, saw 29\nSkipping line 777: expected 28 fields, saw 29\nSkipping line 849: expected 28 fields, saw 29\nSkipping line 897: expected 28 fields, saw 31\nSkipping line 898: expected 28 fields, saw 29\nSkipping line 931: expected 28 fields, saw 29\nSkipping line 993: expected 28 fields, saw 30\nSkipping line 1350: expected 28 fields, saw 29\nSkipping line 1363: expected 28 fields, saw 29\nSkipping line 1372: expected 28 fields, saw 29\nSkipping line 1391: expected 28 fields, saw 29\nSkipping line 1485: expected 28 fields, saw 29\nSkipping line 1705: expected 28 fields, saw 29\nSkipping line 1841: expected 28 fields, saw 29\nSkipping line 1984: expected 28 fields, saw 29\nSkipping line 2013: expected 28 fields, saw 29\nSkipping line 2053: expected 28 fields, saw 29\nSkipping line 2233: expected 28 fields, saw 29\nSkipping line 2265: expected 28 fields, saw 29\nSkipping line 2266: expected 28 fields, saw 29\nSkipping line 2903: expected 28 fields, saw 29\nSkipping line 3023: expected 28 fields, saw 29\nSkipping line 3566: expected 28 fields, saw 30\nSkipping line 4052: expected 28 fields, saw 29\nSkipping line 4068: expected 28 fields, saw 29\nSkipping line 4250: expected 28 fields, saw 29\nSkipping line 4362: expected 28 fields, saw 29\nSkipping line 4417: expected 28 fields, saw 29\nSkipping line 4472: expected 28 fields, saw 29\nSkipping line 4544: expected 28 fields, saw 29\nSkipping line 4790: expected 28 fields, saw 29\nSkipping line 4970: expected 28 fields, saw 29\nSkipping line 4977: expected 28 fields, saw 29\nSkipping line 5059: expected 28 fields, saw 29\nSkipping line 5104: expected 28 fields, saw 29\nSkipping line 5130: expected 28 fields, saw 29\nSkipping line 5138: expected 28 fields, saw 31\nSkipping line 5180: expected 28 fields, saw 29\nSkipping line 5493: expected 28 fields, saw 29\nSkipping line 5593: expected 28 fields, saw 29\nSkipping line 5599: expected 28 fields, saw 30\nSkipping line 6161: expected 28 fields, saw 29\nSkipping line 6239: expected 28 fields, saw 29\nSkipping line 6464: expected 28 fields, saw 29\nSkipping line 6549: expected 28 fields, saw 29\nSkipping line 6560: expected 28 fields, saw 29\nSkipping line 6561: expected 28 fields, saw 30\nSkipping line 6633: expected 28 fields, saw 29\nSkipping line 6914: expected 28 fields, saw 29\nSkipping line 7081: expected 28 fields, saw 29\nSkipping line 7178: expected 28 fields, saw 29\nSkipping line 7813: expected 28 fields, saw 29\nSkipping line 7850: expected 28 fields, saw 29\nSkipping line 8134: expected 28 fields, saw 29\n'

In [3]:
### 어린이집 국공립/사립 구분을 위한 '행정구역(시군구)별','설립유형' 을 이용하여 그룹화
df1 = df1[['유치원명','주소','설립유형']]
df1['설립유형'] = df1['설립유형'].str[0:2]
df1.loc[df1['설립유형'] == '공립', '설립유형'] = '국립'  # 공립, 국립을 '국립' 하나로 보기 위함
df1['행정구역(시군구)별'] = df1['주소'].str.split(" ").str[0]
drop_index = df1[df1['행정구역(시군구)별'] == '시흥시'].index  # 주소가 이상한 데이터 제거
df1 = df1.drop(drop_index)
df1 = df1.drop(['주소'],axis=1)
df1 = df1.groupby(['행정구역(시군구)별','설립유형']).count().reset_index()
df1

   행정구역(시군구)별 설립유형  유치원명
0         강원도   국립   271
1         강원도   사립    79
2         경기도   국립  1220
3         경기도   사립   830
4        경상남도   국립   422
5        경상남도   사립   227
6        경상북도   국립   432
7        경상북도   사립   205
8       광주광역시   국립   126
9       광주광역시   사립   143
10      대구광역시   국립   111
11      대구광역시   사립   200
12      대전광역시   국립   103
13      대전광역시   사립   142
14      부산광역시   국립   135
15      부산광역시   사립   236
16      서울특별시   국립   292
17      서울특별시   사립   462
18    세종특별자치시   국립    61
19    세종특별자치시   사립     2
20      울산광역시   국립    93
21      울산광역시   사립    87
22      인천광역시   국립   187
23      인천광역시   사립   198
24       전라남도   국립   388
25       전라남도   사립    87
26       전라북도   국립   341
27       전라북도   사립   123
28    제주특별자치도   국립   101
29    제주특별자치도   사립    17
30       충청남도   국립   363
31       충청남도   사립   119
32       충청북도   국립   237
33       충청북도   사립    71

In [4]:
df1_1 = df1.pivot(index='행정구역(시군구)별', columns='설립유형', values='유치원명').reset_index()
df1_1['어린이집'] = df1_1['국립'] + df1_1['사립']
df1_1

설립유형 행정구역(시군구)별    국립   사립  어린이집
0           강원도   271   79   350
1           경기도  1220  830  2050
2          경상남도   422  227   649
3          경상북도   432  205   637
4         광주광역시   126  143   269
5         대구광역시   111  200   311
6         대전광역시   103  142   245
7         부산광역시   135  236   371
8         서울특별시   292  462   754
9       세종특별자치시    61    2    63
10        울산광역시    93   87   180
11        인천광역시   187  198   385
12         전라남도   388   87   475
13         전라북도   341  123   464
14      제주특별자치도   101   17   118
15         충청남도   363  119   482
16         충청북도   237   71   308

In [5]:
# 지역별 어린이집 수
'''
df1 = df1.sort_values('지역별').reset_index()
df1 = df1[['지역별','2021']]
df1.rename(columns = {'지역별' : '지역별','2021':'어린이집'}, inplace = True)

drop_index = df1[df1['지역별'] == '전국'].index # 주소가 이상한 데이터 제거
df1 = df1.drop(drop_index)'''

"\ndf1 = df1.sort_values('지역별').reset_index()\ndf1 = df1[['지역별','2021']]\ndf1.rename(columns = {'지역별' : '지역별','2021':'어린이집'}, inplace = True)\n\ndrop_index = df1[df1['지역별'] == '전국'].index # 주소가 이상한 데이터 제거\ndf1 = df1.drop(drop_index)"

In [6]:
# df2 전처리
df2 = df2.iloc[2:]
df2['연령별'] = df2['연령별'].str.extract(r'(\d+)')
df2 = df2.dropna()
drop_index = df2[df2['행정구역(시군구)별'] == '전국'].index  # 주소가 이상한 데이터 제거
df2 = df2.drop(drop_index)

cols = ['연령별','총인구수 (명)','남자인구수 (명)','여자인구수 (명)']
for col in cols:
    df2[col] = df2[col].astype('int')

df2

     행정구역(시군구)별  연령별  총인구수 (명)  남자인구수 (명)  여자인구수 (명)
3          충청북도    0      7594       3860       3734
4          충청북도    1      8477       4319       4158
5          충청북도    2      8948       4643       4305
6          충청북도    3     10033       5204       4829
7          충청북도    4     11043       5587       5456
...         ...  ...       ...        ...        ...
1833        강원도   96       580        117        463
1834        강원도   97       414        100        314
1835        강원도   98       297         86        211
1836        강원도   99       235         60        175
1837        강원도  100       354         74        280

[1717 rows x 5 columns]

In [7]:
# 시군구별 아동인구
df2_1 = df2[(df2['연령별']>=0)&(df2['연령별']<=5)]
df2_1.rename(columns = {'총인구수 (명)' : '아동인구(명)'}, inplace = True)
df2_1 = df2_1['아동인구(명)'].groupby(df2_1['행정구역(시군구)별']).sum().reset_index()
df2_1

C:\Users\user\AppData\Local\Temp\ipykernel_13540\2010547934.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_1.rename(columns = {'총인구수 (명)' : '아동인구(명)'}, inplace = True)

   행정구역(시군구)별  아동인구(명)
0         강원도    51693
1         경기도   550294
2        경상남도   117284
3        경상북도    86760
4       광주광역시    55356
5       대구광역시    81271
6       대전광역시    53472
7       부산광역시   107187
8       서울특별시   293910
9     세종특별자치시    24614
10      울산광역시    44167
11      인천광역시   108898
12       전라남도    60701
13       전라북도    55976
14    제주특별자치도    28308
15       충청남도    80068
16       충청북도    58191

In [8]:
# df3 전처리
df3 =df3.iloc[2:]
df3= df3.dropna()
drop_index = df3[df3['시도별'] == '총계'].index  # 주소가 이상한 데이터 제거
df3 = df3.drop(drop_index)

df3 = df3[['시도별','계']]
df3 = df3.sort_values('시도별').reset_index()
df3.rename(columns = {'계' : '아동학대'}, inplace = True)
df3['아동학대'] = df3['아동학대'].astype('int')

df3

    index 시도별  아동학대
0       2  강원  1404
1       3  경기  9192
2       4  경남  1743
3       5  경북  1875
4       6  광주   858
5       7  대구  1719
6       8  대전  1645
7       9  부산  2112
8      10  서울  4167
9      11  세종   371
10     12  울산  1402
11     13  인천  3099
12     14  전남  2368
13     15  전북  2453
14     16  제주   859
15     18  충남  2374
16     19  충북  1288

In [9]:
df_selection = pd.concat([df1_1,df2_1,df3],axis=1)
df_selection.columns

Index(['행정구역(시군구)별', '국립', '사립', '어린이집', '행정구역(시군구)별', '아동인구(명)', 'index',
       '시도별', '아동학대'],
      dtype='object')

In [10]:
df_selection = pd.concat([df1_1,df2_1,df3],axis=1)
df_selection = df_selection[['행정구역(시군구)별','어린이집','아동인구(명)','국립', '사립','아동학대']]  # '행정구역(시군구)별' 컬럼이 두개 들어가는 것 확인
df_selection.columns = ['행정구역(시군구)별', '행정구역(시군구)별2','어린이집','아동인구(명)','국립', '사립','아동학대']  # 행정구역 컬럼명을 다르게 지정
df_selection = df_selection.drop(['행정구역(시군구)별2'],axis=1)  # 행정구역 컬럼 한개 삭제
df_selection

   행정구역(시군구)별  어린이집  아동인구(명)    국립   사립  아동학대
0         강원도   350    51693   271   79  1404
1         경기도  2050   550294  1220  830  9192
2        경상남도   649   117284   422  227  1743
3        경상북도   637    86760   432  205  1875
4       광주광역시   269    55356   126  143   858
5       대구광역시   311    81271   111  200  1719
6       대전광역시   245    53472   103  142  1645
7       부산광역시   371   107187   135  236  2112
8       서울특별시   754   293910   292  462  4167
9     세종특별자치시    63    24614    61    2   371
10      울산광역시   180    44167    93   87  1402
11      인천광역시   385   108898   187  198  3099
12       전라남도   475    60701   388   87  2368
13       전라북도   464    55976   341  123  2453
14    제주특별자치도   118    28308   101   17   859
15       충청남도   482    80068   363  119  2374
16       충청북도   308    58191   237   71  1288

In [11]:
# 2021 사회조사보고서(복지2-1) - 향후 늘려야 할 공공시설로 국공립어린이집을 늘려야 한다는 비율 데이터 넣기
daycare_center = [9.9, 13.7, 11.6, 8.2, 10.1, 10.7, 11.5, 9.6, 14, 11.7, 9.6, 12.1, 8.9, 9.8, 10, 9.3, 9.1]
df_selection['향후 늘려야 할 공공시설(국공립어린이집)'] = daycare_center

In [12]:
# 2021 사회조사보고서(복지3-1) - 향후 늘려야 할 복지서비스로 보육서비스를 늘려야 한다는 비율 데이터 넣기
child_care_service = [3.9, 3.9, 3.5, 3.7, 3.7, 3.8, 3.6, 2.9, 4.6, 5.4, 4, 2.5, 3.3, 3.9, 4.7, 3.6, 4]
df_selection['향후 늘려야 할 복지 서비스(보육 관련 서비스)'] = child_care_service

In [13]:
df_selection

,행정구역(시군구)별,어린이집,아동인구(명),국립,사립,아동학대,향후 늘려야 할 공공시설(국공립어린이집),향후 늘려야 할 복지 서비스(보육 관련 서비스)
0,강원도,350,51693,271,79,1404,9.9,3.9
1,경기도,2050,550294,1220,830,9192,13.7,3.9
2,경상남도,649,117284,422,227,1743,11.6,3.5
3,경상북도,637,86760,432,205,1875,8.2,3.7
4,광주광역시,269,55356,126,143,858,10.1,3.7
5,대구광역시,311,81271,111,200,1719,10.7,3.8
6,대전광역시,245,53472,103,142,1645,11.5,3.6
7,부산광역시,371,107187,135,236,2112,9.6,2.9
8,서울특별시,754,293910,292,462,4167,14.0,4.6
9,세종특별자치시,63,24614,61,2,371,11.7,5.4
10,울산광역시,180,44167,93,87,1402,9.6,4.0
11,인천광역시,385,108898,187,198,3099,12.1,2.5
12,전라남도,475,60701,388,87,2368,8.9,3.3
13,전라북도,464,55976,341,123,2453,9.8,3.9
14,제주특별자치도,118,28308,101,17,859,10.0,4.7
15,충청남도,482,80068,363,119,2374,9.3,3.6
16,충청북도,308,58191,237,71,1288,9.1,4.0

In [14]:
# 파생변수 만들기
df_selection['국립/사립'] = df_selection['국립'] / df_selection['사립']
df_selection['아동학대건수/아동인구수'] = df_selection['아동학대'] / df_selection['아동인구(명)']
df_selection['아동인구수/어린이집수'] = df_selection['아동인구(명)'] / df_selection['어린이집']
df_selection = df_selection.round({'국립/사립':2, '아동학대건수/아동인구수':4, '아동인구수/어린이집수':2})  # 여러 컬럼에 반올림 함수 적용
df_selection

,행정구역(시군구)별,어린이집,아동인구(명),국립,사립,아동학대,향후 늘려야 할 공공시설(국공립어린이집),향후 늘려야 할 복지 서비스(보육 관련 서비스),국립/사립,아동학대건수/아동인구수,아동인구수/어린이집수
0,강원도,350,51693,271,79,1404,9.9,3.9,3.43,0.0272,147.69
1,경기도,2050,550294,1220,830,9192,13.7,3.9,1.47,0.0167,268.44
2,경상남도,649,117284,422,227,1743,11.6,3.5,1.86,0.0149,180.71
3,경상북도,637,86760,432,205,1875,8.2,3.7,2.11,0.0216,136.20
4,광주광역시,269,55356,126,143,858,10.1,3.7,0.88,0.0155,205.78
5,대구광역시,311,81271,111,200,1719,10.7,3.8,0.56,0.0212,261.32
6,대전광역시,245,53472,103,142,1645,11.5,3.6,0.73,0.0308,218.25
7,부산광역시,371,107187,135,236,2112,9.6,2.9,0.57,0.0197,288.91
8,서울특별시,754,293910,292,462,4167,14.0,4.6,0.63,0.0142,389.80
9,세종특별자치시,63,24614,61,2,371,11.7,5.4,30.50,0.0151,390.70
10,울산광역시,180,44167,93,87,1402,9.6,4.0,1.07,0.0317,245.37
11,인천광역시,385,108898,187,198,3099,12.1,2.5,0.94,0.0285,282.85
12,전라남도,475,60701,388,87,2368,8.9,3.3,4.46,0.0390,127.79
13,전라북도,464,55976,341,123,2453,9.8,3.9,2.77,0.0438,120.64
14,제주특별자치도,118,28308,101,17,859,10.0,4.7,5.94,0.0303,239.90
15,충청남도,482,80068,363,119,2374,9.3,3.6,3.05,0.0296,166.12
16,충청북도,308,58191,237,71,1288,9.1,4.0,3.34,0.0221,188.93

#### 최종 지역 선택하기

In [15]:
# rank 함수를 이용해 6개의 기준 각각에 대한 시도별 순위 구하기
# method='min' 사용: 동점 관측치 그룹 내 최소 순위 부여
# rank 함수는 기본적으로 오름차순 정렬. ascending=False를 입력하면 내림차순 정렬

df_selection['(기준1)국립/사립'] = df_selection['국립/사립'].rank(method='min')  # 오름차순 정렬
df_selection['(기준2)향후 국공립 필요성'] = df_selection['향후 늘려야 할 공공시설(국공립어린이집)'].rank(method='min', ascending=False)
df_selection['(기준3)향후 보육 서비스 필요성'] = df_selection['향후 늘려야 할 복지 서비스(보육 관련 서비스)'].rank(method='min', ascending=False)
df_selection['(기준4)아동학대건수/아동인구수'] = df_selection['아동학대건수/아동인구수'].rank(method='min', ascending=False)
df_selection['(기준5)아동인구수'] = df_selection['아동인구(명)'].rank(method='min', ascending=False)
df_selection['(기준6)아동인구수/어린이집수'] = df_selection['아동인구수/어린이집수'].rank(method='min', ascending=False)

In [16]:
df_selection

,행정구역(시군구)별,어린이집,아동인구(명),국립,사립,아동학대,향후 늘려야 할 공공시설(국공립어린이집),향후 늘려야 할 복지 서비스(보육 관련 서비스),국립/사립,아동학대건수/아동인구수,아동인구수/어린이집수,(기준1)국립/사립,(기준2)향후 국공립 필요성,(기준3)향후 보육 서비스 필요성,(기준4)아동학대건수/아동인구수,(기준5)아동인구수,(기준6)아동인구수/어린이집수
0,강원도,350,51693,271,79,1404,9.9,3.9,3.43,0.0272,147.69,14.0,10.0,6.0,8.0,14.0,14.0
1,경기도,2050,550294,1220,830,9192,13.7,3.9,1.47,0.0167,268.44,8.0,2.0,6.0,13.0,1.0,5.0
2,경상남도,649,117284,422,227,1743,11.6,3.5,1.86,0.0149,180.71,9.0,5.0,14.0,16.0,3.0,12.0
3,경상북도,637,86760,432,205,1875,8.2,3.7,2.11,0.0216,136.20,10.0,17.0,10.0,10.0,6.0,15.0
4,광주광역시,269,55356,126,143,858,10.1,3.7,0.88,0.0155,205.78,5.0,8.0,10.0,14.0,12.0,10.0
5,대구광역시,311,81271,111,200,1719,10.7,3.8,0.56,0.0212,261.32,1.0,7.0,9.0,11.0,7.0,6.0
6,대전광역시,245,53472,103,142,1645,11.5,3.6,0.73,0.0308,218.25,4.0,6.0,12.0,4.0,13.0,9.0
7,부산광역시,371,107187,135,236,2112,9.6,2.9,0.57,0.0197,288.91,2.0,12.0,16.0,12.0,5.0,3.0
8,서울특별시,754,293910,292,462,4167,14.0,4.6,0.63,0.0142,389.80,3.0,1.0,3.0,17.0,2.0,2.0
9,세종특별자치시,63,24614,61,2,371,11.7,5.4,30.50,0.0151,390.70,17.0,4.0,1.0,15.0,17.0,1.0
10,울산광역시,180,44167,93,87,1402,9.6,4.0,1.07,0.0317,245.37,7.0,12.0,4.0,3.0,15.0,7.0
11,인천광역시,385,108898,187,198,3099,12.1,2.5,0.94,0.0285,282.85,6.0,3.0,17.0,7.0,4.0,4.0
12,전라남도,475,60701,388,87,2368,8.9,3.3,4.46,0.0390,127.79,15.0,16.0,15.0,2.0,9.0,16.0
13,전라북도,464,55976,341,123,2453,9.8,3.9,2.77,0.0438,120.64,11.0,11.0,6.0,1.0,11.0,17.0
14,제주특별자치도,118,28308,101,17,859,10.0,4.7,5.94,0.0303,239.90,16.0,9.0,2.0,5.0,16.0,8.0
15,충청남도,482,80068,363,119,2374,9.3,3.6,3.05,0.0296,166.12,12.0,14.0,12.0,6.0,8.0,13.0
16,충청북도,308,58191,237,71,1288,9.1,4.0,3.34,0.0221,188.93,13.0,15.0,4.0,9.0,10.0,11.0

In [17]:
# 6개의 기준 각각에서의 순위를 합한 값으로 구성된 종합점수 컬럼 추가

df_selection['종합점수'] = df_selection.iloc[:, 11:].sum(axis=1)

# 종합점수 컬럼에 대해 rank 함수 적용
# 순위값 합이므로 값이 낮을수록 지역의 중요성이 큰 것 -> 오름차순 정렬(default)

df_selection['종합순위'] = df_selection['종합점수'].rank(method='min')

In [18]:
df_selection = df_selection.sort_values('종합순위')
df_selection

,행정구역(시군구)별,어린이집,아동인구(명),국립,사립,아동학대,향후 늘려야 할 공공시설(국공립어린이집),향후 늘려야 할 복지 서비스(보육 관련 서비스),국립/사립,아동학대건수/아동인구수,아동인구수/어린이집수,(기준1)국립/사립,(기준2)향후 국공립 필요성,(기준3)향후 보육 서비스 필요성,(기준4)아동학대건수/아동인구수,(기준5)아동인구수,(기준6)아동인구수/어린이집수,종합점수,종합순위
8,서울특별시,754,293910,292,462,4167,14.0,4.6,0.63,0.0142,389.80,3.0,1.0,3.0,17.0,2.0,2.0,28.0,1.0
1,경기도,2050,550294,1220,830,9192,13.7,3.9,1.47,0.0167,268.44,8.0,2.0,6.0,13.0,1.0,5.0,35.0,2.0
5,대구광역시,311,81271,111,200,1719,10.7,3.8,0.56,0.0212,261.32,1.0,7.0,9.0,11.0,7.0,6.0,41.0,3.0
11,인천광역시,385,108898,187,198,3099,12.1,2.5,0.94,0.0285,282.85,6.0,3.0,17.0,7.0,4.0,4.0,41.0,3.0
6,대전광역시,245,53472,103,142,1645,11.5,3.6,0.73,0.0308,218.25,4.0,6.0,12.0,4.0,13.0,9.0,48.0,5.0
10,울산광역시,180,44167,93,87,1402,9.6,4.0,1.07,0.0317,245.37,7.0,12.0,4.0,3.0,15.0,7.0,48.0,5.0
7,부산광역시,371,107187,135,236,2112,9.6,2.9,0.57,0.0197,288.91,2.0,12.0,16.0,12.0,5.0,3.0,50.0,7.0
9,세종특별자치시,63,24614,61,2,371,11.7,5.4,30.50,0.0151,390.70,17.0,4.0,1.0,15.0,17.0,1.0,55.0,8.0
14,제주특별자치도,118,28308,101,17,859,10.0,4.7,5.94,0.0303,239.90,16.0,9.0,2.0,5.0,16.0,8.0,56.0,9.0
13,전라북도,464,55976,341,123,2453,9.8,3.9,2.77,0.0438,120.64,11.0,11.0,6.0,1.0,11.0,17.0,57.0,10.0
2,경상남도,649,117284,422,227,1743,11.6,3.5,1.86,0.0149,180.71,9.0,5.0,14.0,16.0,3.0,12.0,59.0,11.0
4,광주광역시,269,55356,126,143,858,10.1,3.7,0.88,0.0155,205.78,5.0,8.0,10.0,14.0,12.0,10.0,59.0,11.0
16,충청북도,308,58191,237,71,1288,9.1,4.0,3.34,0.0221,188.93,13.0,15.0,4.0,9.0,10.0,11.0,62.0,13.0
15,충청남도,482,80068,363,119,2374,9.3,3.6,3.05,0.0296,166.12,12.0,14.0,12.0,6.0,8.0,13.0,65.0,14.0
0,강원도,350,51693,271,79,1404,9.9,3.9,3.43,0.0272,147.69,14.0,10.0,6.0,8.0,14.0,14.0,66.0,15.0
3,경상북도,637,86760,432,205,1875,8.2,3.7,2.11,0.0216,136.20,10.0,17.0,10.0,10.0,6.0,15.0,68.0,16.0
12,전라남도,475,60701,388,87,2368,8.9,3.3,4.46,0.0390,127.79,15.0,16.0,15.0,2.0,9.0,16.0,73.0,17.0

In [19]:
df_selection.to_csv('Select_Region_Final.csv')